<div class="chat-page">
  <div class="message banner" style="display: flex;">
    <div>
      <%= image_tag "seta.png", height: '32', width: '32' %>
    </div>
    <% recipient = fetch_recipient(@conversation) %>
    <h3 class="text-center"><%= recipient.first_name %></h3>
  </div>


  <% if @over_ten %>
   <%= link_to "Show Previous", "?m=all" %>
  <% end %>

  <blockquote class="messages chat-lines">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <!-- <div class="header"><strong><%#= user.first_name %></strong> <%#= message.message_time %></div> -->
        <% if message.user_id == current_user.id %>
          <p class="me">
            <%= message.body %>
            <small class="me-msg-time"><%= message.message_short_time %></small>
          </p>
        <% else %>
          <p class="them">
            <%= message.body %>
            <small class="them-msg-time"><%= message.message_short_time %></small>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </blockquote>

  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
   <div class="field">
    <div class="input-group mb-3">
      <%= f.text_area :body, class: 'form-control', required: true, placeholder: "Type your message..." %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <div class="input-group-append">
        <button class="fas  btn btn-outline-primary" type="submit"><i></i><%= image_tag "icons8-enviar-e-mail-24.png" %></button>
      </div>
    </div>
  <% end %>


