<div class="top-container">
  <%= render "shared/banner" %>
</div>

<div class="header" id="myHeader">
  <%= render "shared/profile-bar" %>
</div>

<div class="content">
  <% if current_user %>
    <% if current_user.id == @user.id %>
      <% if @user.soundcloud_profile == "" || @user.soundcloud_profile.nil? %>
        <div class="jumbotron pt-3 pb-1 mb-0">
          <div class="container">
            <h5>Link your Soundcloud profile to show off your talent!</h5>
              <%= form_for @user do |f| %>
                <%#= render 'shared/errors', object: @video %>
                <div class="input-group mb-3">
                  <%= f.text_field :soundcloud_profile, class: 'form-control', required: true, placeholder: "https://soundcloud.com/your-username" %>
                  <div class="input-group-append">
                    <button class="home btn btn-outline-secondary youtube" type="submit">Connect!</button>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
      <% else %>
        <div class="jumbotron pt-3 pb-1 mb-0">
          <div class="container">
            <h5>You're connected to Soundcloud!</h5>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Choose your best songs!
          </button>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @user.song_uid.empty? || @user.soundcloud_profile == "" || @user.soundcloud_profile.nil? %>
    <div class="container">
      <div class="mt-5">
        <div>
        <h1 class="no-song"> <%= @user.first_name %> hasn't uploaded any songs...</h1>
        </div>
      </div>
      <div>
        <% if @user.videos.any? %>
          <div class="mt-4">
            <h3 class="but-text">But you can check out <%= @user.first_name %>'s videos and influences: </h3>
          </div>
          <div class=" mt-4 d-flex justify-content-around">
            <div class="btn btn-outline-info"><%= link_to "Videos", user_path, class: "audio_links" %></div>
            <div class="btn btn-outline-info"><%= link_to "Influences", influences_user_path, class: "audio_links"%></div>
          </div>
        <% else %>
            <h3 class=" mt-4 but-text">But you can check out <%= @user.first_name %>'s influences:</h3>
            <div class="mt-4 d-flex justify-content-around">
              <div class="btn btn-outline-info"><%= link_to "Influences", influences_user_path, class: "audio_links" %></div>
            </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="app">
      <h5 style="text-transform: uppercase;"><%= @user.first_name %>'s songs</h5>
    </div>
      <% @user.song_uid.each do |uid| %>
        <div class="container">
          <div class="mb-2">
            <iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= uid %>&color=%23faa916&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&show_artwork=false&buying=false&sharing=false&show_playcount=false"></iframe>
          </div>
        </div>
      <% end %>
  <% end %>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color: rgba(250, 169, 22, 0.2);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgba(250, 169, 22);">
        <h5 class="modal-title"  id="exampleModalCenterTitle">Update your songs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @user do |f| %>
          <%= f.input :song_uid, as: :check_boxes, collection: @songs, label: "Your soundcloud songs:" %>
        <div class="modal-footer" >
          <%= f.button :submit, "Save changes", id:"submit-genre-update", class:"btn btn-outline-info" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
