<div class="top-container">
  <%= render "shared/banner" %>
</div>

<div class="header" id="myHeader">
  <%= render "shared/profile-bar" %>
</div>

<% if @user == @current_user %>
  <div class="jumbotron pt-3 pb-3 d-flex justify-content-around">
    <div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Edit your Info
      </button>
    </div>
  </div>
<% end %>
<!-- ABOUT THE USER -->
<div>
  <div class="app">
    <h5 style="text-transform: uppercase;">About <%= @user.first_name%></h5>
    <% if @user.bio.nil? || @user.bio == "" %>
      <% if @user == @current_user %>
          <p style="font-style: italic; opacity: 0.5;">No info yet. Whats your story?</p>
        <% else %>
          <p style="font-style: italic; opacity: 0.5;">No info yet. Contact <%= @user.first_name %> to find our more.</p>
      <% end %>
    <% else %>
      <p style="font-style: italic; opacity: 0.5;"><%= @user.bio %></p>
    <% end %>
  </div>

<!-- INSTRUMENTS -->

  <div class="app">
    <h5 style="text-transform: uppercase;">Instruments</h5>
    <% if @user.instruments.any? %>
      <ul class="hs full">
        <% @user.instruments.each do |instrument| %>
        <div>
          <li class="item" style="background-image: url('<%= image_path instrument.icon %>'); height: 90%"></li>
          <p style="font-size: 14px; margin-right: 23px;"><%= instrument.name.capitalize %></p>
        </div>
        <% end %>
      </ul>
      <% else %>
        <% if @user == @current_user %>
          <p style="font-style: italic; opacity: 0.5;">You haven't added any instrument yet.</p>
        <% else %>
          <p style="font-style: italic; opacity: 0.5;"><%= @user.first_name %> hasn't added any instrument yet.</p>
        <% end %>
    <% end %>
  </div>

<!-- GENRES -->
  <div class="app">
    <h5 style="text-transform: uppercase;">Genres</h5>
    <% if @user.genres.any? %>
        <div class="d-flex align-items-center justify-content-between">
          <% @user.genres[0...-1].each do |genre|%>
            <div><%= genre.name %> </div>
            <i class="fas fa-circle" style="font-size: 5px;"></i>
          <% end %>
          <div><%= @user.genres[-1].name %></div>
        </p>
      </div>
      <% else %>
        <% if @user == @current_user %>
            <p style="font-style: italic; opacity: 0.5;">You haven't added any genre yet.</p>
          <% else %>
            <p style="font-style: italic; opacity: 0.5;"><%= @user.first_name %> hasn't added any genres yet.</p>
        <% end %>
    <% end %>
  </div>
</div>
  <div>
    <% if @user == @current_user %>
      <div class="app">
        <h5 style="text-transform: uppercase;">Photos <button id="add-photo">✚</button></h5>
        <% if !@user.photos.any? %>
          <div class="pt-0">
            <p style="font-style: italic; opacity: 0.5;">You haven't added any photos yet. Don't be shy!</p>
          </div>
        <% else %>
          <div class="app">
            <ul class="hs full">
              <% @photos.each do |photo| %>
                <div>
                  <li class="item" style="background-image: url('<%= cl_image_path photo.url %>'); height: 90%">
                    <%= link_to user_photo_path(photo), method: :delete do %>
                      <div class="plus" style="background-color: white;"><i class="far fa-trash-alt"></i></div>
                    <% end %>
                  </li>
                </div>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <!-- ADD PHOTOS DIV -->
      <div id="photo-form" class="app pt-0" style="visibility: hidden">
        <%= simple_form_for [@user, @photo] do |f| %>
            <%= f.input :url, as: :file, label: false, class:"" %>
            <%= f.input :url_cache, as: :hidden %>
            <%= f.button :submit, "Add a cool photo 📸", class:"btn btn-outline-info", style:"border-radius: 25px;" %>
        <% end %>
      </div>
    <% else %>
      <div class="app">
        <h5 style="text-transform: uppercase;"><%= @user.first_name %>'s Photos </h5>
        <% if !@user.photos.any? %>
          <p style="font-style: italic; opacity: 0.5;">No photos to show</p>
      </div>
        <% else %>
        <div class="app">
          <ul class="hs full">
            <% @photos.each do |photo| %>
              <div>
                <li class="item" style="background-image: url('<%= cl_image_path photo.url %>'); height: 90%">
                </li>
              </div>
            <% end %>
          </ul>
        </div>
      <% end%>
    <% end %>
  </div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color: rgba(250, 169, 22, 0.2);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgba(250, 169, 22);">
        <h5 class="modal-title"  id="exampleModalCenterTitle">Update your Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @user, url: update_profile_user_path do |f| %>
          <%= f.input :bio, placeholder: "What's your story?"  %>
          <%= f.association :instruments, as: :check_boxes, collection: Instrument.order("lower(name) ASC"), class:"pb-5" %>
          <%= f.association :genres, as: :check_boxes, collection: Genre.order("lower(name) ASC") %>
        <div class="modal-footer" >
          <%= f.button :submit, "Save changes", id:"submit-genre-update", class:"btn btn-outline-info" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




