<form class="form-inline d-flex justify-content-center form-sm mt-0">
    <input class="form-control form-control-sm w-75" type="text" placeholder="Instrument, Genre, Artists.."
      aria-label="Search">
      <i class="fas fa-map-marker-alt ml-2"></i>  
</form>
<% @users.each do |user| %>
    <%= link_to user_path(user) do %>
        <div class="card m-4" style= "border: none;">
            <!-- Card image -->
            <%= image_tag "tiago.jpg", :class => "card-img-top shadow bg-white rounded", :style => "object-fit: cover; height: 200px;" %>
            <!-- Card content -->
                <div class="card-body py-2 px-1 d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <!-- Title -->
                        <h4 class="card-title mb-0 h5 text-body"><%= user.first_name %></h4>
                        <!-- Text -->
                        <p class="card-text text-body"><%= user.genres.first.name %></p>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <p class= "mb-0 text-right text-muted h6 mb-1">1.5km</p>
                        <div>
                            <% user.instruments[0..2].each do |instrument| %>
                            <%= image_tag instrument.icon, :style => "height: 30px" %>
                            <% end %>
                        </div>
                    </div>
                </div>
        </div>
    <% end %>
<% end %>
