<form class="form-inline d-flex justify-content-center form-sm mt-0">
    <input class="form-control form-control-sm w-75" type="text" placeholder="Instruments, genres, artists..."
      aria-label="Search" name="query">
<!--     <button type="submit" class="pl-2 ml-1 my-0 mr-0 pb-0"><i class="fas fa-search" style="opacity:0.4; font-size: 20px; border: none;"></i>
    </button> -->
    <% if current_user %>
      <i class="fas fa-map-marker-alt ml-3 navigator" style="opacity:0.4; font-size: 20px;"></i>
    <% end %>
</form>

<!-- Simple for for current location -->

<%= form_tag home_path, method: :get do %>
  <%= hidden_field_tag :latitude, params[:latitude] %>
  <%= hidden_field_tag :longitude, params[:longitude] %>
    <%= submit_tag "Submit", class:"btn d-none", id:"submit-geo" %>
<% end %>

<div onclick="play();" id="vidwrap" style="height:230px; width:100%; background: black url(<%= VideoThumb::get('https://www.youtube.com/watch?v=0-GY2R-7JN8', "max") %>) no-repeat center; background-size: cover; overflow: hidden; cursor:pointer;" class="youtube-play d-flex align-items-center justify-content-center">
    <div class="video_buttons">
      <i class="fas fa-play"></i>
    </div>

</div>
<script type="text/javascript">
    function play(){
        document.getElementById('vidwrap').innerHTML = '<iframe width="100%" height="230px" src="https://www.youtube.com/embed/0-GY2R-7JN8?autoplay=1&mute=1" frameborder="0" allow="autoplay"></iframe>';
    }
</script>

<!-- Index -->
<% @users.each do |user| %>
    <%= link_to user_path(user) do %>
        <div class="card my-4" style= "border: none;">
            <!-- Card image -->
            <% if !user.videos.empty? %>
              <iframe id="ytplayer" height="230px" type="text/html" src="https://www.youtube.com/embed/<%= user.videos ? user.videos.first.uid : 0 %>?modestbranding=1&controls=0" frameborder="0"></iframe>
            <% elsif !user.soundcloud_profile.nil? || !user.soundcloud_profile == "" %>
              <% id = user.soundcloud_profile_load ? user.soundcloud_profile_load.first : 0 %>
              <iframe width="100%" height="230px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= id %>&color=%23faa916&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&show_artwork=false&buying=false&sharing=false&show_playcount=false"></iframe>
            <% else %>
              <%= cl_image_tag banner_or_fallback(user), class:  "card-img-top shadow bg-white rounded", :style => "object-fit: cover; height: 230px;" %>
            <% end %>

            <!-- Card content -->
                <div class="card-body py-2 px-3 d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <!-- Title -->
                        <% if user.birthday %>
                          <h4 class="card-title mb-0 h5 text-body"><%= user.first_name %>, <%= AgeCalculator.new(user.birthday).age %></h4>
                        <% else %>
                          <h4 class="card-title mb-0 h5 text-body"><%= user.first_name %> </h4>
                        <% end %>
                        <!-- Text -->
                        <% if !user.genres.empty? %>
                          <p class="card-text text-body">
                            <%= user.genres[0].name %> · <%= user.genres[1].name %>
                          </p>
                        <% end %>
                    </div>
                    <div class="d-flex flex-column justify-content-between">

                        <% if current_user %>
                          <% if current_user.address %>
                            <% distance = user.distance_from_user %>
                            <p class= "mb-0 text-right text-muted h6 mb-1"><%= distance %> km</p>
                          <% else %>
                            <p class= "mb-0 text-right text-muted h6 mb-1"></p>
                          <% end %>
                        <% else %>
                            <p class= "mb-0 text-right text-muted h6 mb-1"></p>
                        <% end %>
                        <div>
                            <% user.instruments[0..2].each do |instrument| %>
                            <%= image_tag instrument.icon, :style => "height: 30px" %>
                            <% end %>
                        </div>
                    </div>
                </div>
        </div>
    <% end %>
<% end %>
