
<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@user.first_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.bio %>
<% content_for :meta_image, cl_image_path(photo_or_fallback(@user)) %>


<!-- RENDER BANNER FROM SHARED HERE -->

<div class="top-container">
  <%= render "shared/banner" %>
</div>

<div class="header" id="myHeader">
  <%= render "shared/profile-bar" %>
</div>


<!-- RENDER USER MENU FROM SHARED HERE -->

<% if current_user %>
  <% if current_user.id == @user.id %>
    <div class="jumbotron pt-3 pb-1 mb-0">
      <div class="container">
        <h5 class="text-center">Show off your talent with videos!</h5>


          <%= form_for [@user, @video] do |f| %>
            <%#= render 'shared/errors', object: @video %>
              <div class="input-group mb-3">
                <%= f.text_field :url, class: 'form-control', required: true, placeholder: "Youtube link" %>
                <div class="input-group-append">
                  <button class="home btn youtube" type="submit">Add video now!</button>
                </div>
              </div>
          <% end %>

      </div>
    </div>
  <% end %>
<% end %>

<div class="app">
  <% if @user.videos.any? %>
    <h5 style="text-transform: uppercase;"><%= @user.first_name %>'s videos</h5>
  <% else %>
    <p style="font-style: italic; opacity: 0.5;">No videos yet.</p>
  <% end %>
</div>



<!-- VIDEO FEED -->
<div class="video-feed d-flex flex-column">
  <% @videos.each do |video| %>
    <% if @user == current_user %>
      <div class="main-video">
        <div class="video-bin d-flex justify-content-end mr-2">
          <%= link_to user_video_path(current_user, video), method: :delete do %>
            <i class="far fa-trash-alt"></i> Delete
          <% end %>
        </div>
        <div class="align-self-center mb-2" style="width: 100%;">
          <iframe id="ytplayer" width="100%" height="233px" type="text/html" src="https://www.youtube.com/embed/<%= video.uid %>" frameborder="0"></iframe>
        </div>
      </div>
    <% else %>
      <div class="align-self-center mb-2" style="width: 100%;">
        <iframe id="ytplayer" width="100%" height="233px" type="text/html" src="https://www.youtube.com/embed/<%= video.uid %>" frameborder="0"></iframe>
      </div>
    <% end %>
  <% end %>
</div>


