<!-- RENDER BANNER FROM SHARED HERE -->

<div class="top-container">
  <%= render "shared/banner" %>
</div>

<div class="header" id="myHeader">
  <%= render "shared/profile-bar" %>
</div>


<!-- RENDER USER MENU FROM SHARED HERE -->

<% if current_user %>
  <% if current_user.id == @user.id %>
    <div class="jumbotron pt-3 pb-1 mb-0">
      <div class="container">
        <h5>Show off your talent with videos!</h5>


          <%= form_for [@user, @video] do |f| %>
            <%#= render 'shared/errors', object: @video %>
              <div class="input-group mb-3">
                <%= f.text_field :url, class: 'form-control', required: true, placeholder: "Youtube link" %>
                <div class="input-group-append">
                  <button class="home btn btn-outline-secondary youtube" type="submit">Add video now!</button>
                </div>
              </div>
          <% end %>

      </div>
    </div>
  <% end %>
<% end %>

<div class="app">
  <h5 style="text-transform: uppercase;"><%= @user.first_name %>'s videos</h5>
</div>



<!-- VIDEO FEED -->
<div class="video-feed d-flex flex-column">
  <% @videos.each do |video| %>
    <div class="align-self-center mb-2">
      <iframe id="ytplayer" width="414px" height="233px" type="text/html" src="https://www.youtube.com/embed/<%= video.uid %>" frameborder="0"></iframe>
    </div>
  <% end %>
</div>


