<!-- <footer>

  <div class="footer-style" style="align-items: flex-end;">

    <div >
      <%= image_tag "home.svg" %>
    </div>

    <div>
      <%= image_tag "Line-1.svg" %>
    </div>

    <div>
      <%= image_tag "profile.svg" %>
    </div>

    <div>
      <%= image_tag "Line-1.svg" %>
    </div>

    <div>
      <%= image_tag "chat.svg" %>
    </div>

  </div>

</footer>
 -->
