<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


  <%= link_to home_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", :style => "transform: scale(1.4); overflow: hidden;" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li><%= link_to "Account settings", edit_user_registration_path , class: "dropdown-item" %></li>
        <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
        <%= link_to "Messages", user_path(current_user), class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
