<div class="profile-bar footer-style">

  <div>
    <%= link_to user_path(@user) do  %>
      <%= image_tag "videobutton.svg" %>
  <% end %>

  </div>

  <div>
    <%= image_tag "Line-1.svg" %>
  </div>

  <div>
    <%= link_to audio_user_path(@user) do  %>
      <%= image_tag "audiobutton.svg" %>
    <% end %>
  </div>

  <div>
    <%= image_tag "Line-1.svg" %>
  </div>

  <div>
    <%= link_to bio_user_path(@user) do  %>
    <%= image_tag "biobutton.svg" %>
    <% end %>

  </div>

  <div>
    <%= image_tag "Line-1.svg" %>
  </div>

  <div>
    <%= link_to influences_user_path(@user) do  %>
      <%= image_tag "influences.svg" %>
    <% end %>

  </div>



</div>
