<div class="profile-bar footer-style">


  <div>
    <%= link_to user_path(@user) do  %>
      <%= image_tag "videobutton.svg", id:"video-btn", class: session[:selected_profile_bar] == "video" ? "active" : "" %>
    <% end %>
  </div>

  <div>
    <%= image_tag "Line-1.svg" %>
  </div>

  <div>
    <%= link_to audio_user_path(@user) do  %>
      <%= image_tag "audiobutton.svg", id:"audio-btn", class: session[:selected_profile_bar] == "audio" ? "active" : "" %>
    <% end %>
  </div>

  <div>
    <%= image_tag "Line-1.svg" %>
  </div>

  <div>
    <%= link_to bio_user_path(@user) do  %>
      <%= image_tag "biobutton.svg", id:"bio-btn", class: session[:selected_profile_bar] == "bio" ? "active" : "" %>
    <% end %>
  </div>

  <div>
    <%= image_tag "Line-1.svg" %>
  </div>

  <div>
    <%= link_to influences_user_path(@user) do  %>
      <%= image_tag "influences.svg", id:"influences-btn", class: session[:selected_profile_bar] == "influences" ? "active" : "" %>
    <% end %>
  </div>
</div>
