<div class="profile-bar footer-style">

  <div >
    <%= image_tag "videobutton.svg" %>
  </div>

  <div>
    <%= image_tag "Line-1.svg" %>
  </div>

  <div>
    <%= image_tag "audiobutton.svg" %>
  </div>

  <div>
    <%= image_tag "Line-1.svg" %>
  </div>

  <div>
    <%= image_tag "biobutton.svg" %>
  </div>

  <div>
    <%= image_tag "Line-1.svg" %>
  </div>

  <div>
    <%= image_tag "influencesbutton.svg" %>
  </div>



</div>
